#Options -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

#RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?url=$1 [QSA,L]
