@mixin box_shadow($bottom:5px, $right: 5px, $scattering: 13px, $color:rgba(0, 0, 0, 0.6))
{
    -webkit-box-shadow: $bottom $right $scattering $color;
    -moz-box-shadow: $bottom $right $scattering $color;
    -ms-box-shadow: $bottom $right $scattering $color;
    -o-box-shadow: $bottom $right $scattering $color;
    box-shadow: $bottom $right $scattering $color;
}
@mixin timer($mode:all, $duration:0.3s)
{
    -webkit-transition: $mode $duration;
    -moz-transition: $mode $duration;
    -ms-transition: $mode $duration;
    -o-transition: $mode $duration;
    transition: $mode $duration;
}
/*********************/

.clear_fix
{
    &:after
    {
        content: '';
        display: block;
        clear: both;
    }
}

.unSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

hr
{
    border-color: #bdbdbd;
}

.fa-asterisk
{
    padding: 0 5px;
    color: #d50000;
    font-style: normal;
    font-size: 7px;
}

.time
{
    font-family: IRANSans_medium;
    padding-top: 13px;
    display: block;
    float: left;
}

*
{
    border-radius: 0;
}

body
{
    //font-family: "IranianSans";
    font-size: 13px;
    //font-family: IranianSans;
    //font-family: IRANSans_regular;
    font-family: IRANSans_medium;
    //font-family: IRANSans_bold;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    background-color: #F5F5F5;
}

i
{
    font-style: normal;
}

table
{
    text-align: center;
    width: 100%;
    font-size: 13px;
    tr
    {
        &:nth-child(even)
        {
            background-color: #e0e0e0;
            color: #616161;
        }
        text-align: center;
        th
        {
            text-align: center;
            padding: 1em 0;
            //&:nth-child(1)
            //{
            //    width: 1em;
            //}
            //&:nth-child(2)
            //{
            //    width: 10em;
            //}
            //&:nth-child(3)
            //{
            //    width: 4em;
            //}
            //&:nth-child(4)
            //{
            //    width: 2em;
            //}
            //&:nth-child(5)
            //{
            //    width: 2em;
            //}
            //&:nth-child(6)
            //{
            //    width: 8em;
            //}
            //&:nth-child(7)
            //{
            //    width: 6em;
            //}
            //&:nth-child(8)
            //{
            //    width: 5em;
            //}

        }
        td
        {
            text-align: center;
            padding: 1em 0;
            font-size: 11px;
            a
            {
                color: #424242;
                text-decoration: none;
                display: block;
                padding: 7px;
                @include timer();
                &:hover
                {
                    //color: #ff5722;
                    background-color: #bdbdbd;
                    text-decoration: none;
                }
                &:first-child
                {
                    margin-left: 5px;
                }
            }
        }
    }
}

.status_result
{
    display: block;
    padding: 5px;

    i.fa-times, i.fa-check
    {
        padding: 0 7px;
    }
}
.news_hide
{
    color: #c2185b;
}

.news_show
{
    color: #4caf50;
}

.change_status
{
    display: block;
    text-decoration: none;
    padding: 5px;
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid #bdbdbd;

    &:hover
    {
        background-color: #1a237e;
        border: 1px solid #bdbdbd;
        color: #fff;
    }
}

#no_pay, #pay
{
    display: block;
    padding: 15px 5px;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
}

#got_to_no_pay, #got_to_pay
{
    display: block;
    color: #d81b60;
    font-size: 13px;
    cursor: pointer;
    font-family: IRANSans_medium;
    margin: 10px 0;
    text-decoration: underline;
}
