@mixin box_shadow($bottom:5px, $right: 5px, $scattering: 13px, $color:rgba(0, 0, 0, 0.6))
{
    -webkit-box-shadow: $bottom $right $scattering $color;
    -moz-box-shadow: $bottom $right $scattering $color;
    -ms-box-shadow: $bottom $right $scattering $color;
    -o-box-shadow: $bottom $right $scattering $color;
    box-shadow: $bottom $right $scattering $color;
}
@mixin timer($mode:all, $duration:0.3s)
{
    -webkit-transition: $mode $duration;
    -moz-transition: $mode $duration;
    -ms-transition: $mode $duration;
    -o-transition: $mode $duration;
    transition: $mode $duration;
}
/****************************/
.clear_fix
{
    &:after
    {
        content: '';
        display: block;
        clear: both;
    }
}

.unSelect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hint_2
{
    font-family: IRANSans_medium;
    font-size: 11px;
    color: #c2185b;
}

.fa-asterisk
{
    padding: 0 5px;
    color: #d50000;
    font-style: normal;
    font-size: 7px;
}

body
{
    //font-family: "IranianSans";
    font-family: IRANSans_regular;
    //font-family: IRANSans_medium;
    //font-family: IRANSans_bold;
    overflow-x: hidden;
    font-weight: normal;
    font-size: 13px;
    color: #696763;
}

i
{
    font-style: normal;
}

label
{
    font-family: IRANSans_medium;
    font-weight: normal;
    display: block;
    margin-bottom: 7px;
}

table
{
    font-family: IRANSans_medium;
    text-align: center;
    width: 100%;
    font-size: 13px;
    tr
    {
        &:nth-child(even)
        {
            background-color: #e0e0e0;
            color: #616161;
        }
        text-align: center;
        th
        {
            text-align: center;
            padding: 1em 0;
            &:nth-child(1)
            {
                width: 1em;
            }
            &:nth-child(2)
            {
                width: 2em;
            }
            &:nth-child(3)
            {
                width: 2em;
            }
            &:nth-child(4)
            {
                width: 3em;
            }
            &:nth-child(5)
            {
                width: 1em;
            }
            &:nth-child(6)
            {
                width: 1em;
            }
            &:nth-child(7)
            {
                width: 7em;
            }
            //&:nth-child(8)
            //{
            //    width: 5em;
            //}

        }
        td
        {
            text-align: center;
            padding: 1em 0;
            font-size: 11px;
            a
            {
                color: #424242;
                text-decoration: none;
                display: block;
                padding: 7px;
                @include timer();
                &:hover
                {
                    //color: #ff5722;
                    //background-color: #bdbdbd;
                    text-decoration: none;
                }
                &:first-child
                {
                    margin-left: 5px;
                }
            }
        }
    }
}
.operation
{
    &:not(:last-child)
    {
        border: 1px solid #e0e0e0;
        background-color: #fff;
    }
    display: inline-block;
    font-family: IRANSans_medium;
    font-size: 12px;
    padding: 5px;
    margin: 3px;
    width: 80%;
    //border: 1px solid #e0e0e0;
    cursor: pointer;
    //background-color: #fff;
}

.delivery
{
    color: #8bc34a;
    //background-color: #f1f8e9;
}

.suspension
{
    color: #3f51b5;
    //background-color: #e8eaf6;
}

.deleteOrder
{
    color: #d81b60;
    background-color: #fce4ec;
}

.print
{
    color: #757575;
    font-size: 20px;
}