/****************************/
.clear_fix:after {
  content: '';
  display: block;
  clear: both;
}

.unSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hint_2 {
  font-family: IRANSans_medium;
  font-size: 11px;
  color: #c2185b;
}

.fa-asterisk {
  padding: 0 5px;
  color: #d50000;
  font-style: normal;
  font-size: 7px;
}

body {
  font-family: IRANSans_regular;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 13px;
  color: #696763;
}

i {
  font-style: normal;
}

label {
  font-family: IRANSans_medium;
  font-weight: normal;
  display: block;
  margin-bottom: 7px;
}

table {
  font-family: IRANSans_medium;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

table tr {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

table tr th {
  text-align: center;
  padding: 1em 0;
}

table tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

table tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

table tr td a:hover {
  text-decoration: none;
}

table tr td a:first-child {
  margin-left: 5px;
}

#shop_info {
  padding: 20px 7px 7px 7px;
  margin-bottom: 30px;
}

#shop_info span, #shop_info p {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

#shop_info span i, #shop_info p i {
  font-family: IRANSans_medium;
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

#header_info {
  display: block;
  font-family: IRANSans_bold;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

#note {
  font-size: 11px;
}

#print_form {
  margin-top: 30px;
}
