/****************************/
.clear_fix:after {
  content: '';
  display: block;
  clear: both;
}

.unSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fa-asterisk {
  padding: 0 5px;
  color: #d50000;
  font-style: normal;
  font-size: 7px;
}

body {
  font-family: IRANSans_regular;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-weight: normal;
  background-image: url(../pattern.png);
}

pre {
  font-family: IRANSans_medium !important;
  background-color: transparent !important;
  overflow: visible !important;
}

i {
  font-style: normal;
}

.first_header {
  font-family: IRANSans_medium;
  background-color: #eeeeee;
  font-size: 12px;
}

.first_header ul li {
  float: right;
}

.first_header ul li .fa-sign-out, .first_header ul li .fa-home, .first_header ul li .fa-address-card {
  padding: 0 5px;
  font-size: 15px;
}

.first_header ul li .user_welcome {
  display: block;
  padding: 10px;
  margin-right: 20px;
  cursor: default;
}

.first_header ul li .user_info {
  color: #3f51b5;
}

.first_header ul li a {
  display: block;
  float: right;
  padding: 10px;
  text-decoration: none;
}

.first_header ul li:nth-child(4) a {
  color: #8bc34a;
}

.first_header ul li:nth-child(5) a {
  color: #d81b60;
}

.tab_link_wrapper {
  margin-top: 3em;
  border: 1px solid #dfe5e8;
  font-size: 13px;
  background-color: #fafbfc;
}

.tab_link_wrapper .tab_link_content ul li {
  float: right;
}

.tab_link_wrapper .tab_link_content ul li a {
  display: block;
  padding: 10px 20px;
  float: right;
  text-decoration: none;
  color: #696763;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tab_content_wrapper {
  border-top-color: transparent;
  font-size: 13px;
}

#my_basket table {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#my_basket table tr {
  text-align: center;
}

#my_basket table tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#my_basket table tr th {
  text-align: center;
  padding: 1em 0;
  font-family: IRANSans_bold;
}

#my_basket table tr th:nth-child(1) {
  width: 1em;
}

#my_basket table tr th:nth-child(2) {
  width: 4em;
}

#my_basket table tr th:nth-child(3) {
  width: 12em;
}

#my_basket table tr th:nth-child(4) {
  width: 20em;
}

#my_basket table tr th:nth-child(5) {
  width: 8em;
}

#my_basket table tr th:nth-child(6) {
  width: 8em;
}

#my_basket table tr th:nth-child(7) {
  width: 6em;
}

#my_basket table tr th:nth-child(8) {
  width: 5em;
}

#my_basket table tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#my_basket table tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#my_basket table tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#my_basket table tr td a:first-child {
  margin-left: 5px;
}

#my_basket #tbl_result {
  border-top: 1px solid #9e9e9e;
  text-align: center;
}

#my_basket #tbl_result tr th {
  text-align: center;
  padding: 1em 0;
  font-size: 13px;
  color: #3f51b5;
  font-family: IRANSans_bold;
}

#my_basket #tbl_result tr th:nth-child(1) {
  width: 2em;
}

#my_basket #tbl_result tr th:nth-child(2) {
  width: 3em;
}

#my_basket #tbl_result tr th:nth-child(3) {
  width: 3em;
}

#my_basket #tbl_result tr th:nth-child(4) {
  width: 3em;
}

#my_basket #tbl_result tr th:nth-child(4) {
  color: #4caf50;
}

#my_basket #tbl_result tr th:nth-child(5) {
  color: #4caf50;
}

#my_basket #tbl_result tr td {
  font-family: IRANSans_medium;
  text-align: center;
  font-size: 13px;
  color: #c2185b;
}

#my_basket #tbl_result tr td:nth-child(4) {
  color: #4caf50;
}

#my_basket #tbl_result tr td:nth-child(5) {
  color: #4caf50;
}

#my_basket #tbl_result tr td:nth-child(5) a {
  display: block;
  text-decoration: none;
  border: 1px solid #8bc34a;
  color: #4caf50;
  font-size: 14px;
  background-color: #fff;
}

.tab_content_wrapper, .tab_content {
  position: relative;
  padding: 0;
  background-color: transparent;
}

.tab_content_inner {
  border: 1px solid #dfe5e8;
  border-top-color: transparent;
  float: right;
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1000;
  padding: 0 7px 0 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.active_tab {
  color: #689f38 !important;
  background-color: #f1f8e9 !important;
  border-bottom-color: #689f38 !important;
}

.show_content {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 1000 !important;
  padding: 30px 7px 15px 7px;
}

#basket_list {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#basket_list tr {
  text-align: center;
}

#basket_list tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#basket_list tr th {
  text-align: center;
  padding: 1em 0;
}

#basket_list tr th:nth-child(1) {
  width: 1em;
}

#basket_list tr th:nth-child(2) {
  width: 10em;
}

#basket_list tr th:nth-child(3) {
  width: 3em;
}

#basket_list tr th:nth-child(4) {
  width: 3em;
}

#basket_list tr th:nth-child(5) {
  width: 3em;
}

#basket_list tr th:nth-child(6) {
  width: 2em;
}

#basket_list tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#basket_list tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#basket_list tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#basket_list tr td a:first-child {
  margin-left: 5px;
}

/**************/
#tbl_comment {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#tbl_comment tr {
  text-align: center;
}

#tbl_comment tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#tbl_comment tr th {
  text-align: center;
  padding: 1em 0;
}

#tbl_comment tr th:nth-child(1) {
  width: 1em;
}

#tbl_comment tr th:nth-child(2) {
  width: 4em;
}

#tbl_comment tr th:nth-child(3) {
  width: 12em;
}

#tbl_comment tr th:nth-child(4) {
  width: 3em;
}

#tbl_comment tr th:nth-child(5) {
  width: 8em;
}

#tbl_comment tr th:nth-child(6) {
  width: 8em;
}

#tbl_comment tr th:nth-child(7) {
  width: 6em;
}

#tbl_comment tr th:nth-child(8) {
  width: 5em;
}

#tbl_comment tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#tbl_comment tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#tbl_comment tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#tbl_comment tr td a:first-child {
  margin-left: 5px;
}

/**********/
#shop_list {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#shop_list tr {
  text-align: center;
}

#shop_list tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#shop_list tr th {
  text-align: center;
  padding: 1em 0;
}

#shop_list tr th:nth-child(1) {
  width: 1em;
}

#shop_list tr th:nth-child(2) {
  width: 4em;
}

#shop_list tr th:nth-child(3) {
  width: 12em;
}

#shop_list tr th:nth-child(4) {
  width: 3em;
}

#shop_list tr th:nth-child(5) {
  width: 8em;
}

#shop_list tr th:nth-child(6) {
  width: 8em;
}

#shop_list tr th:nth-child(7) {
  width: 6em;
}

#shop_list tr th:nth-child(8) {
  width: 5em;
}

#shop_list tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#shop_list tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#shop_list tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#shop_list tr td a:first-child {
  margin-left: 5px;
}

#type_of_product {
  font-family: IRANSans_bold;
  display: block;
  color: #3f51b5;
  margin: 5em 0 2em 0;
  border-bottom: 1px solid #3f51b5;
  padding: 0 0 5px 0;
}

/**********/
#payline {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#payline tr {
  text-align: center;
}

#payline tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#payline tr th {
  text-align: center;
  padding: 1em 0;
}

#payline tr th:nth-child(1) {
  width: 1em;
}

#payline tr th:nth-child(2) {
  width: 8em;
}

#payline tr th:nth-child(3) {
  width: 2em;
}

#payline tr th:nth-child(4) {
  width: 3em;
}

#payline tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#payline tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#payline tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#payline tr td a:first-child {
  margin-left: 5px;
}

/************/
#profile {
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#profile tr {
  text-align: center;
}

#profile tr:nth-child(even) {
  background-color: #e0e0e0;
  color: #616161;
}

#profile tr th {
  text-align: center;
  padding: 1em 0;
}

#profile tr th:nth-child(1) {
  width: 5em;
}

#profile tr th:nth-child(2) {
  width: 8em;
}

#profile tr th:nth-child(3) {
  width: 2em;
}

#profile tr th:nth-child(4) {
  width: 3em;
}

#profile tr th:nth-child(5) {
  width: 8em;
}

#profile tr th:nth-child(6) {
  width: 8em;
}

#profile tr th:nth-child(7) {
  width: 6em;
}

#profile tr td {
  text-align: center;
  padding: 1em 0;
  font-size: 11px;
}

#profile tr td a {
  color: #424242;
  text-decoration: none;
  display: block;
  padding: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#profile tr td a:hover {
  background-color: #bdbdbd;
  text-decoration: none;
}

#profile tr td a:first-child {
  margin-left: 5px;
}

#update_profile {
  display: inline-block;
  color: #3f51b5;
  width: 10em;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  margin: 4em 0.5em 1em 0;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#update_profile:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

#change_profile_inner {
  padding: 20px 10px;
  margin-top: 2em;
  opacity: 0;
  visibility: hidden;
  display: none;
  z-index: -1000;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#change_profile_inner label {
  font-family: IRANSans_medium;
  display: block;
  font-weight: normal;
  margin-bottom: 3px;
  font-size: 12px;
}

#change_profile_inner input[type=text], #change_profile_inner input[type=email] {
  font-family: IRANSans_medium;
  display: inline-block;
  margin-bottom: 1.5em;
  line-height: 1.9em;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 5px;
  border: 1px solid #bdbdbd;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#change_profile_inner input[type=text]:focus, #change_profile_inner input[type=email]:focus {
  border-color: rgba(97, 97, 97, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  outline: 0 none;
}

textarea {
  display: block;
  margin-bottom: 1em;
  resize: none;
  overflow-y: auto;
  word-spacing: 1px;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

textarea:focus {
  border-color: rgba(97, 97, 97, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  outline: 0 none;
}

input[type=submit], input[type=reset] {
  font-family: IRANSans_medium;
  display: inline-block;
  width: 8em;
  line-height: 1.9em;
  border: 1px solid #bdbdbd;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=submit]:focus, input[type=reset]:focus {
  border-color: rgba(97, 97, 97, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(97, 97, 97, 0.6);
  outline: 0 none;
}

.show_update {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000 !important;
  display: block !important;
}
